@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Work+Sans&display=swap');
.header { 
  background-color: #7e0808;
  opacity: 0.7;
  height: 100px;
  width: 100%; 
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  display: flex;

}
.imagem{
  padding-top: 23px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.link{
  padding-top: 40px;
  padding-left: 350px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  flex-wrap: nowrap;
}
.link a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  flex-wrap: nowrap;
}
.link li{
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: nowrap;
  display: inline;
}




