.site {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site hr.small {
  margin: 20px 0
}

.site h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site a {
  color: #737373;
}

.site a:hover {
  color: #cc3333;
  text-decoration: none;
}

.footer {
  padding-left: 0;
  list-style: none;
  display: flex;
  width: 100%;
}

.footer a {
  margin: 5px;
  display: flex;
  color: #737373
}

.footer a:active,
.footer a:focus,
.footer a:hover {
  color: #cc3333;
  text-decoration: none;
}

.footer.inline li {
  display: inline-block
}

.site .social {
  text-align: right
}

.site .social a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright {
  margin: 0
}

@media (max-width:991px) {
  .site [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site {
    padding-bottom: 0;
    line-height: normal;
  }

  .site .copyright,
  .site .social {
    text-align: center
  }
}

.social {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social li {
  display: inline-block;
  margin-bottom: 4px
}

.social li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social a:active,
.social a:focus,
.social a:hover {
  color: #fff;
  background-color: #29aafe
}

.social.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social a.facebook:hover {
  background-color: #3b5998
}

.social a.twitter:hover {
  background-color: #00aced
}

.social a.linkedin:hover {
  background-color: #007bb6
}

.social a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social li.title {
    display: block;
    margin-right: 0;
  }

}

.col {
  margin-left: 10px;
}