@font-face {
    font-family: 'Avengers';
    src: url('../../fonts/AVENGEANCE\ HEROIC\ AVENGER\ BD.otf') format('truetype');
    font-weight: 400;
  }

.fundo1{
    background-image: url("https://i.pinimg.com/originals/46/28/3a/46283a918edbdc933a9831165cd644a3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    width: 100%;
    background-color: #333;
    text-decoration: none;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
  font-family: 'Avengers', sans-serif;
}

.carouselContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselSlide {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 {
    display: none;
}

@media screen and (max-width: 600px) {
    .fundo1{
        background-image: url("https://image1.cdn2.seaart.ai/2023-07-30/50627870380101/81b9d8541285dc11d1709b9f67ebdcd245e55a6a_high.webp");
    }
    .container {
        display: none;
    }
    .container2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;
        width: auto;
        flex-direction: column;
    }

    .fundo1{
        overflow: hidden;
    }

    .title {
        font-size: 1.5rem;
    }

    .carouselContainer {
        height: auto;
        width: auto;
    }

    .carouselSlide {
        height: auto;
        width: auto;
    }

    .button{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 4rem;
        color: #8B0000;
    }
}