.fundo1{
    background-image: url("https://marvelmission.com/assets/front/images/homepage/FONDO_INTRO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    width: 100%;
    background-color: black;  
}
.fundo2{
    background-image: url("https://marvelmission.com/assets/front/images/homepage/FONDO_INTRO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: none;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #8B0000;
    text-align: center;
}

.carouselContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselSlide {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .container {
        height: auto;
        max-height: 100vh;
        min-height: 100vh;
        width: auto;
    }
    .fundo1{
        display: none;
    }
    .fundo2{
        display: block;
        overflow: hidden;
    }

    .title {
        font-size: 1.5rem;
    }

    .carouselContainer {
        height: auto;
        width: auto;
    }

    .carouselSlide {
        height: auto;
        width: auto;
    }
}