@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Raleway&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Raleway&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans:ital,wght@1,300&family=Lexend+Giga&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Raleway&family=Rowdies&family=Ubuntu:ital,wght@1,300&family=Work+Sans&display=swap');
.fundo{
 background-image: url('https://marvelmission.com/assets/front/images/homepage/FONDO_INTRO.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  margin-top: -15px;
  flex-wrap: nowrap;


}


.text{
  color: white;
  font-size: 20px;
  text-align: center;
  

}
.feature {
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  margin: 0 20px;
}

.feature a{
  text-decoration: none;
  color: white;
}

.feactures p{
  font-size: 300px;
  color: #c6c0c0;
}
.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.introducao {
  text-align: center;
  margin-bottom: 20px;
 
}

.bemVindo {
  font-size: 70px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  margin-top: 50px; ;
  margin-right: -9.1px;
}

.img{
  
  height: 150%;
  width: 150%;
  margin-top: -195px;
  margin-left: -172px;

}



.text {
  font-size: 18px;
  color: #ded7d7;
  line-height: 1.5;
  margin-top: -185px;
}

.marvelTitle {
  font-size: 28px;
  color: #ff0000;
}

.marvel img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.icons img{
  width: 200px;
  height: 200px;
  margin: 15px; 

}
.icons{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.incons2{
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #FFFFFF;
}
.container2{
  background-image: url('https://i.pinimg.com/564x/9d/b3/a8/9db3a8156aae930919ca3869e1ed11ff.jpg');
  

}

@media screen and (max-width: 600px) and (min-device-height: 400px) {
  .features {
    flex-direction: column;
    padding: 20px;
  }

  .feature {
    max-width: 100%;
    margin: 20px 0;
  }

  .container {
    padding: 10px;
  }

  .bemVindo {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }

  .marvelTitle {
    font-size: 20px;
  }
}

