  
.features {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.feature {
  max-width: 300px;
  text-align: center;
  margin: 0 20px;
}
.feactures p{
  font-size: 300px;
  color: #777;
}
.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.introducao {
  text-align: center;
  margin-bottom: 20px;
}

.bemVindo {
  font-size: 36px;
  color: #333;
}

.text {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}

.marvelTitle {
  font-size: 28px;
  color: #ff0000;
}

.marvel img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}


@media screen and (max-width: 600px) and (min-device-height: 400px) {
  .features {
    flex-direction: column;
    padding: 20px;
  }

  .feature {
    max-width: 100%;
    margin: 20px 0;
  }

  .container {
    padding: 10px;
  }

  .bemVindo {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }

  .marvelTitle {
    font-size: 20px;
  }
}

