.main{
  display: flex;
  flex-direction: column;
}
.container {
   color: beige;
   background-color: #171821;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 3em 2em;
    position: absolute;
    color: white;
    backface-visibility: hidden;
    position: absolute;
    box-shadow: 0 40px 80px 10px black;
    margin: 10px;
    border-radius: 0.5em;
  }
  .inputContainer{
    display: flex;
    width: 100%;
    margin-top: 2%;
    text-align: center;
    flex-direction: column;
  }
  .container button{
    margin-top: 2%;
    width: 100%;
    height: 2em;
    border-radius: 0.5em;
    background-color: #B71C1C;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
  }

  
  @media screen and (max-width: 600px) and (min-device-height: 400px) {
    .container {
      width: 80%;
      margin-left: 10%;
      margin-top: 2%;
    }
  
    .title {
      font-size: 1.5rem;
    }
  
    .character {
      width: 80%;
    }
  
    .characterName {
      font-size: 1.5rem;
    }
  }
  

  