
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: rgb(199, 199, 199);
    height: 100%;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 5%;
  }
  
  .divDescri {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .title {
    margin-top: 6%;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .inputs {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.125rem;
  }
  
  .addButton {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.325rem;
    background-color: #8d0808;
    color: white;
    margin-bottom: 1rem;
  }
  
  .imagesPower {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #ccc;
  }
  
  .avatarLabel {
    margin-left: 17%;
  }
  
  .charactersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    background-color: #8d0808;
    border-radius: 10px;
    padding: 0.5rem;
    width: 35%;
    margin-top: 5%;
  }
  
  .characterName {
    color: #fdfdfd;
    font-size: 2rem;
    margin-right: 1rem;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  
  .avatarImage {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 1rem;
    border-radius: 10px;
    margin-right: 2%;
  }
  
  .labelAvatar {
    font-size: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
  
  .divAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .avatarInput {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.125rem;
  }
  
  .characterAvatar {
    border-radius: 10px;
    width: 300px;
    height: 300px;
  }
  
  .powerTitle {
    color: #fdfdfd;
    font-size: 1.125rem;
    margin-right: 1rem;
    text-align: center;
  }
  
  .powerName {
    color: #fdfdfd;
    font-size: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) and (min-device-height: 400px) {
    .container {
      width: 80%;
      margin-left: 10%;
      margin-top: 2%;
    }
  
    .title {
      font-size: 1.5rem;
    }
  
    .character {
      width: 80%;
    }
  
    .characterName {
      font-size: 1.5rem;
    }
  }
  