.container{
    min-height: 100vh;
    max-width: 100vw;
  background-image: url("https://marvelmission.com/assets/front/images/homepage/FONDO_INTRO.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}